$blue: #183642;
$green: #5fad41;
$purple: #861e53;
$teal: #2d936c;
$primary: $purple;
$secondary: $teal;

$navbar-light-color:                rgba($purple, .65);
$navbar-light-hover-color:          rgba($purple, .8);



$enable-shadows: true;

$prefix: "nn-";